.button{
  display: flex;
  justify-content: center;
}

.minus{
  padding: 8px;
  border: 1px solid #c00202;
  border-radius: 5px 0px 0px 5px;
  padding-left: 13px;
  padding-right: 13px;
  color: #c00202;
  user-select: none;
  cursor: pointer;
}

.plus{
  padding: 8px;
  border: 1px solid #c00202;
  border-radius: 0px 5px 5px 0px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #c00202;
  color: #fff;
  user-select: none;
  cursor: pointer;
}

.count{
  padding: 8px;
  border-top: 1px solid #c00202;
  border-bottom: 1px solid #c00202;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #ffd6d6;
  color: #c00202;
  user-select: none;
}

.value{
  margin: 5px;
  user-select: none;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  user-select: none;
}